$def with (message)

<h1>Raspberry Pi GPIO Control Web Server</h1>

<p>$message</p>

<a href="../pin21On">pin 21 On</a><p></p>

<a href="../pin21Off">pin 21 Off</a><p></p>

<a href="../pin20On">pin 20 On</a><p></p>

<a href="../pin20Off">pin 20 Off</a><p></p>

<a href="../pin19On">pin 19 On</a><p></p>

<a href="../pin19Off">pin 19 Off</a><p></p>

<a href="../livingAreaLightsOn">Living Area Lights On</a><p></p>

<a href="../livingAreaLightsOff">Living Area Lights Off</a><p></p>

<a href="../diningAreaLightsOn">Dining Area Lights On</a><p></p>

<a href="../diningAreaLightsOff">Dining Area Lights Off</a><p></p>

<a href="../kitchenAreaLightsOn">Kitchen Area Lights On</a><p></p>

<a href="../kitchenAreaLightsOff">Kitchen Area Lights Off</a><p></p>

<a href="../blindsUp">Blinds Up</a><p></p>

<a href="../blindsDown">Blinds Down</a><p></p>


